@import "vars";
@import "libs";
@import "global";
@import "header";
@import "footer";
@import "information";


//section-home

.section-home {
  background: $color-decor;
  color: $color-white;
  padding: 0;
  z-index: 1;
  &__item {
    padding: 60px 0;
    .container {
      @include flexbox;
      @include align-items(center);
    }
    .text {
      margin: 0;
      font-size: 24px;
      width: 460px;
      max-width: 100%;
    }
    &_text {
      width: calc(100% - 350px);
      padding-right: 80px;
    }
    &_img {
      width: 350px;
      text-align: center;
      margin-bottom: -15px;
      &:after {
        z-index: 1;
        content: '';
        position: absolute;
        height: 60px;
        bottom: 0;
        left: -80px;
        right: -80px;
        background: rgba(121,190,255,0);
        background: -moz-linear-gradient(top, rgba(121,190,255,0) 0%, rgba(121,190,255,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(121,190,255,0)), color-stop(100%, rgba(121,190,255,1)));
        background: -webkit-linear-gradient(top, rgba(121,190,255,0) 0%, rgba(121,190,255,1) 100%);
        background: -o-linear-gradient(top, rgba(121,190,255,0) 0%, rgba(121,190,255,1) 100%);
        background: -ms-linear-gradient(top, rgba(121,190,255,0) 0%, rgba(121,190,255,1) 100%);
        background: linear-gradient(to bottom, rgba(121,190,255,0) 0%, rgba(121,190,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79beff', endColorstr='#79beff', GradientType=0 );
      }
      img {
        z-index: 1;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 260px;
        height: 260px;
        background: $color-white;
        border-radius: 50%;
        transform: translateX(-50%);
        opacity: .8;
      }
      &_cloud {
        color: $color-decor;
        width: 125px;
        height: 125px;
        padding: 15px;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        @include flexbox;
        @include align-items(center);
        @include flex-direction(column);
        @include justify-content(center);

        position: absolute;
        top: 0;
        left: -50px;
        span {
          display: block;
          font-size: 40px;
        }
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          margin-top: 5px;
          margin-left: 3px;
          background: url(../image/cloud.svg) no-repeat center;
          width: 180px;
          height: 180px;
          z-index: -1;
        }
      }
    }
  }
  .advantages {
    margin-bottom: -100px;
    margin-top: 10px;
  }
  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 20px;
    background: rgba($color-decor,.2);
    filter: blur(2px);
  }
}

.catalog-table__hidden {
  display: none;
}

.section-home + .section {
  padding-top: 150px;
}

.advantages {
  background: $color-white;
  border-radius: $big-radius;
  color: $color-primary;
  z-index: 2;
  padding: 15px 30px;
  @include flexbox;
  @include align-items(center);
  @include flex-wrap(wrap);
  box-shadow: 0 10px 30px rgba($color-primary,.2);
  &-item {
    width: calc(33.3% - 30px);
    margin: 15px;
    @include flexbox;
    @include align-items(center);
    &__icon {
      width: 50px;
      text-align: center;
    }
    p {
      width: calc(100% - 50px);
      padding-left: 20px;
      font-size: 14px;
    }
  }
}


//catalog

.catalog {
  margin-bottom: 60px;
  &-item {
    padding: 25px;
    text-align: center;
    @include transition;
    border-radius: $big-radius;
    &:hover {
      box-shadow: 0 10px 30px rgba($color-decor,.2);
    }
    &__logo {
      height: 70px;
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);
      img {
        max-height: 100%;
      }
    }
    .time-icon {
      display: inline-block;
      padding-left: 70px;
      font-weight: bold;
      font-size: 14px;
      padding-top: 12px;
      padding-bottom: 12px;
      margin: 5px 0 15px 0;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        background: url(../image/icons/history.svg) no-repeat center;
        width: 50px;
        height: 50px;
        margin-top: -25px;
      }
    }
    &__list {
      margin-top: 5px;
      column-count: 2;
      page-break-inside: avoid;
      break-inside: avoid;
      column-gap: 10px;
      text-align: left;
      font-size: 13px;
      li {
        page-break-inside: avoid;
        break-inside: avoid;
        margin-bottom: 15px;
        padding-left: 30px;
        padding-top: 3px;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background: url(../image/icons/check.svg) no-repeat center;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  &-table {
    table {
      position: static;
      width: 100%;
      border-collapse:separate;
      border-spacing: 0 10px;
      thead {
        tr {
          th {
            padding: 15px;
            font-weight: 400;
            text-align: left;
          }
        }
      }
      tbody {
        tr {
          overflow: hidden;
          border-radius: $normal-radius;
          @include transition;
          box-shadow: 0 17px 31px -35px rgba($color-decor,1);
          &:hover {
            z-index: 1;
            box-shadow: 0 10px 30px rgba($color-decor,.2);
          }
          td {
            padding: 15px 10px;
            .chart-icon {
              padding-left: 60px;
              padding-top: 10px;
              padding-bottom: 10px;
              margin: 5px 0;
              &__title {
                font-size: 0;
              }
              &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                background: url(../image/icons/chart.svg) no-repeat center;
                width: 48px;
                height: 48px;
                margin-top: -24px;
              }
            }
            .catalog-table__hidden {
              display: none;
            }
          }
          .catalog-logo:after {
            content: '';
            position: absolute;
            top: -15px;
            left: -10px;
            background: $color-decor;
            width: 5px;
            bottom: -15px;
            border-radius: $normal-radius 0 0 $normal-radius;
            opacity: 0;
            @include transition;
            transform: translateX(-100%);
          }
          &:hover .catalog-logo:after {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
    }
  }
}







@import "media";