<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no" />
    <meta name="format-detection" content="telephone=no">
      <title>Кредитные карты банков России</title>
    <meta name="description" content="Получи займ, кредит онлайн мгновенно на карту, на счет, наличными, по системе Контакт, на Киви или Яндекс деньги. Вероятность одобрения микрозайма 97%! Выдача за 3 минуты, достаточно только паспорта, без проверки и кредитной истории.">
    <meta name="keywords" content="онлайн займы, кредит наличными, кредитные карты, карты рассрочки, кредиты, займ на карту, рейтинг займов, рейтинг кредитов, топ займов, топ кредитов">

    <link href="designs/11/scss/style.css" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <script src="designs/11/js/vue.min.js"></script>
    <script src="https://coursestop.ru/js/plugins/axios/axios.min.js"></script>
            <script src="https://my.saleads.pro/api/scid.js?auth=uPpwWHxWWE5iZoZwGjewVgVgO6rqg7rONPA2iVA10xFX2ufnlf"></script>
       
</head>

<body>
    <div id="elements" class="wrapper">
        <!--main-->
        <main>
            <!--        section-home-->
            <section class="section section-home">
                <!--header-->
                <header class="header">
                    <div class="container">
                        <div class="header-logo">
                            <a href="" class="logo">
                                coursestop.ru
                            </a>
                            <div class="header-logo__favorites">
                                
                                <img src="/designs/11/image/icons/heart-red.svg" alt="">
                            </div>
                        </div>
                        <div class="header-location">
                            <!-- <input type="text" placeholder="Регион:" /> -->
                            <!-- <input type="text" placeholder="Город:" /> -->
                        </div>
                        <div class="header-counter">
                            <p>Уже одобрено заявок:</p>
                            <span class="counter">34324</span>
                        </div>
                    </div>
                </header>
                <div class="section-home__item">
                    <div class="container">
                        <div class="section-home__item_text">
                            <h1>Кредитные карты банков России</h1>
                            <div class="text">
                                <p>Получите кредитную карту в банке на любые цели. 
                                </p>
                            </div>
                        </div>
                        <div class="section-home__item_img">
                            <img src="/designs/11/image/home.png" alt="">
                            <div class="section-home__item_img_cloud">
                                <span>94%</span>
                                ОДОБРЕНИЯ
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <!--                advantages-->
                        <div class="advantages">
                            <div class="advantages-item">
                                <div class="advantages-item__icon">
                                    <img src="/designs/11/image/advantages/1.png" alt="">
                                </div>
                                <p>Выберите банк (несколько банков)
                                    и подайте заявку на кредитные карты</p>
                            </div>
                                                   <div class="advantages-item">
                            <div class="advantages-item__icon">
                                <img src="/designs/11/image/advantages/2.png" alt="">
                            </div>
                            <p>Для 100% одобрения, отправьте заявку в несколько банков.</p>
                        </div>
 
                            <div class="advantages-item">
                                <div class="advantages-item__icon">
                                    <img src="/designs/11/image/advantages/3.png" alt="">
                                </div>
                                <p>Получите решение банка
                                    за 30 минут</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--        catalog-->
            <section class="section">
                <div class="container">
                    <h3 class="text-align-center">Топ-компании</h3>
                    <div class="column catalog">
                        <div class="column-item catalog-item">
                            <div class="catalog-item__logo">
                                <img src="logo/halva.png" alt="">
                            </div>
                            <ul class="catalog-item__list">
                                <li>350000 руб.</li>
                                <li>0% в год</li>
                                <li>18 мес</li>
                                <li>20-75 лет</li>
                            </ul> 
                            <div>
                                <div class="time-icon">
                            15 минут
                            </div>
                        </div> 
                        <a target="_blank" href="https://readserv.com/go/f5ae11f79401426ba0eee42428aa9b3e365b64d1eb0a0b0b/" class="btn">Получить <span>карту</span></a></div>
                        <div class="column-item catalog-item">
                            <div class="catalog-item__logo">
                                <img src="logo/MTS.png" alt="">
                            </div>
                            <ul class="catalog-item__list">
                                <li>299999 руб.</li>
                                <li>от 11.99% в год</li>
                                <li>18 мес</li>
                                <li>18-90 лет</li>
                            </ul> 
                            <div>
                                <div class="time-icon">
                            15 минут
                            </div>
                        </div> 
                        <a target="_blank" href="https://winslinks.com/go/f5ae11f7cd1a426ba0eee42428aa9b3e365b64d1eb0a0b0b/" class="btn">Получить <span>карту</span></a></div>
                        <div class="column-item catalog-item">
                            <div class="catalog-item__logo">
                                <img src="logo/alfa.png" alt="">
                            </div>
                            <ul class="catalog-item__list">
                                <li>500000 руб.</li>
                                <li>11.99% в год</li>
                                <li>18 мес</li>
                                <li>18-90 лет</li>
                            </ul> 
                            <div>
                                <div class="time-icon">
                            15 минут
                            </div>
                        </div> 
                        <a target="_blank" href="https://readserv.com/go/f5ae11f70d01426ba0eee42428aa9b3e365b64d1eb0a0b0b/" class="btn">Получить <span>карту</span></a></div>
                        <div class="column-item catalog-item">
                            <div class="catalog-item__logo">
                                <img src="logo/tinkoffkredit.png" alt="">
                            </div>
                            <ul class="catalog-item__list">
                                <li>700000 руб.</li>
                                <li>от 12% в год</li>
                                <li>18 мес</li>
                                <li>18-90 лет</li>
                            </ul> 
                            <div>
                                <div class="time-icon">
                            15 минут
                            </div>
                        </div> 
                        <a target="_blank" href="https://readserv.com/go/f5ae11f70505426ba0eee42428aa9b3e365b64d1eb0a0b0b/" class="btn">Получить <span>карту</span></a></div>
                    </div>
                    <!--                catalog-table-->
                    <!-- <h3>Все предложения
                        <span>Рекомендуем заполнить минимум 3 заявки</span></h3>
                    <div class="catalog catalog-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Макс. сумма</th>
                                    <th>Проц. ставка</th>
                                    <th>Возраст</th>
                                    <th>Выдача</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in elements" v-if="index >= 4 && index < counter" :key="item.id">
                                    <td>
                                        <div class="catalog-logo">
                                            <img src="logo(item.logo)" alt="">
                                        </div>
                                    </td>
                                    <td><span class="catalog-item__list__icon"><span class="mob-hid">до</span> <b>10</b> руб.</span></td>
                                    <td><span class="catalog-item__list__icon"><b>{{item.percent}}%</b> в {{ item.percentPeriod }}</span></td>
                                    <td><span class="catalog-item__list__icon"><span class="mob-hid">от</span> <b>{{item.ageFrom}} <span class="mob-hid">до</span> {{item.ageTo}}</b> лет</span></td>
                                    <td class="catalog-table__hidden"><span class="catalog-item__list__icon"><b>{{item.percent}}%</b> в {{ item.percentPeriod }}</span></td>
                                    <td><div class="chart-icon__title">Выдача</div><div class="chart-icon">{{item.apply}}%</div></td>
                                    <td><a target="_blank" :href="link(item.link)" class="btn">Получить <span v-if="item.type == 'loan'">займ</span><span v-else-if="item.type == 'credit'">кредит</span><span v-else-if="item.type == 'installmentcard' || item.type == 'creditcard' || item.type == 'debetcard'">карту</span><span v-else>деньги</span></a></td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                    <div v-if="counter < elements.length - 4" class="text-align-center">
                        <a href="#" @click.prevent="loadMore" class="btn">Показать еще</a>
                    </div> -->
                </div>
            </section>
            <!--        information-->
            <section class="section section-gray">
                <div class="container">
                    <h3>Информация о кредиторах, представленных на сайте</h3>
                    <div class="information">
                        <div v-for="item in elements" class="information-item">
                            <h6>Халва карта рассрочки</h6>
                            <p>ПАО Совкомбанк; ОГРН 1144400000425 . Лицензия № 963. Адрес: 156000, Костромская область, г. Кострома, пр. Текстильщиков, д. 46</p>
                        </div>
                        <div v-for="item in elements" class="information-item">
                            <h6>МТС-Банк кредитная карта</h6>
                            <p>2020 ПАО «МТС-Банк» Лицензия Банка России №2268 от 17.12.2014 г.</p>
                        </div>
                        <div v-for="item in elements" class="information-item">
                            <h6>Альфа Банк кредитная карта</h6>
                            <p>ПАО Альфа-Банк; ОГРН 1027700067328. Лицензия № 1326. Адрес: 107078, г. Москва, Каланчевская ул. 27</p>
                        </div>
                        <div v-for="item in elements" class="information-item">
                            <h6>Тинькофф Банк кредитная карта</h6>
                            <p>АО Тинькофф Банк; ОГРН 1027739642281. Лицензия № 2673. Адрес: 123060, Москва, 1-й Волоколамский проезд, д. 10, стр. 1</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!--footer--
        <footer class="footer">
            <div class="container">
                <div class="footer-info">
                    <div class="footer-info__row">
                        <h6>coursestop.ru</h6>
                        <div class="text">
                           <p> - это бесплатный информационный сервис, предоставляющий  контент и справочную информацию о кредитных картах, кредитах, автокредитах, ипотечных и прочих займах и кредитах. Используя его вы сможете быстро решить свои финансовые вопросы, затратив минимум своего личного времени.</p>
                    </div>
                </div>
                <div class="footer-info__row">
                    <h6>Отказ от ответственности:</h6>
                    <div class="text">
                       <p> coursestop.ru не является кредитором или ипотечным/кредитным брокером и не предоставляет финансовые услуги прямо или косвенно через представителей или агентов. coursestop.ru не осуществляет выдачу каких-либо видов кредита. coursestop.ru не несет ответственности за точность информации, предоставленной банками по тарифам, кредитным ставкам, переплатам, а также за любую другую информацию. В оценке и сравнении кредитных и иных финансовых продуктов участвуют банки, иные кредитные (финансовые) учреждения – участники партнерской программы coursestop.ru Участие в партнерской программе не влияет на объективность и независимость нашей оценки и сравнение кредитных и иных финансовых продуктов, которые осуществляются в соответствии с методикой coursestop.ru</p>

<p>Все товарные знаки и логотипы, представленные на этом сайте, являются собственностью соответствующих владельцев и взяты из публичных источников. Их появление на этом сайте не подразумевает одобрение ими нашего продукта.</p>
                        </div>
                    </div>
                   
                </div>
                <div class="footer-item">
                    <a href="" class="logo">
                        coursestop.ru
                    </a>
                    <div class="copyright">
                        © 2013 — 2020 Все права защищены
                    </div>
                    <div class="contacts">
                        <h6>  </h6>
                        <p> </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script type="text/x-template" id="itemtop-template">
        <div class="column-item catalog-item">
            <div class="catalog-item__logo">
                <img :src="logo(item.logo)" alt="">
            </div>
            <ul class="catalog-item__list">
                <li>{{ item.sum }} руб.</li>
                <li>{{ item.percent }}% в {{ item.percentPeriod }}</li>
                <li>{{ item.periodValue }} {{ item.periodLabel }}</li>
                <li>{{ item.ageFrom }}-{{ item.ageTo }} лет</li>
            </ul>
            <div>
                <div class="time-icon">
                    15 минут
                </div>
            </div>
            <a target="_blank" :href="link(item.link)" class="btn">Получить <span v-if="item.type == 'loan'">займ</span><span v-else-if="item.type == 'credit'">кредит</span><span v-else-if="item.type == 'installmentcard' || item.type == 'creditcard' || item.type == 'debetcard'">карту</span><span v-else>деньги</span></a>
        </div>
    </script>
    <script>
    String.prototype.replaceAll = function(search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    Vue.component('itemtop-template', {
        template: '#itemtop-template',
        props: ['item'],
        methods: {
            mark: function() {
                return window.location.pathname != '/' ?
                    (window.location.pathname.match(/^\/[0-9a-zA-Z]+$/) ?
                        '?mark=' + window.location.pathname.replace(/[^0-9a-zA-Z]+/, '') :
                        '') :
                    '';

            },
            link: function(val) {
                return 'https://my.saleads.pro/s/' + val;
            },
            logo: function(val) {
                return '/img/logos/144x60/' + val + '.png';
            }
        }
    });
    var app = new Vue({
        el: '#elements',
        data: {
            type: 'loan',
            elements: [],
            counter: 100,
            markNaked: window.location.pathname != '/' ?
                (window.location.pathname.match(/^\/[0-9a-zA-Z]+$/) ?
                    window.location.pathname.replace(/[^0-9a-zA-Z]+/, '') :
                    '') : '',
        },
        methods: {
            loadMore: function() {
                this.counter = this.counter + 4;
            },
            link: function(val) {
                return 'https://my.saleads.pro/s/' + val;
            },
            mark: function() {
                return window.location.pathname != '/' ?
                    (window.location.pathname.match(/^\/[0-9a-zA-Z]+$/) ?
                        '?mark=' + window.location.pathname.replace(/[^0-9a-zA-Z]+/, '') :
                        '') :
                    '';

            },
            logo: function(val) {
                return '/img/logos/144x60/' + val + '.png';
            },
        },
        mounted: function() {
                        if(typeof sclid != "undefined"){
                let markNaked = window.location.pathname != '/'
                    ? (window.location.pathname.match(/^\/[0-9a-zA-Z]+$/)
                        ? window.location.pathname.replace(/[^0-9a-zA-Z]+/, '')
                        : '')
                    : '';
                let url = 'https://coursestop.ru/%/offers'.replace('%', markNaked);
                console.log([url, markNaked]);
                let params = {clid: sclid};
                axios.get(url, {params: params}).then( (response) => {
                    this.elements = response.data;
                                            ym(57237952, "params", {
                            design: "11",
                            companies: this.elements.map( item => item.companyName ),
                            numOffers: this.elements.length,
                            offerPositions: this.elements.map( (item, index) => {
                                let off = {} 
                                off[item.companyName] = index+1;
                                return off; 
                            }),
                        })
                                    });
            }
                    }
    })
    </script>
    
    
            <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
	(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
		m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
	(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

	                                    ym(57237952, "init", {
                    clickmap:true,
                    trackLinks:true,
                    webvisor:true
                });
                    	</script>
<noscript>
    <div>
                <img src="https://mc.yandex.ru/watch/57237952" style="position:absolute; left:-9999px;" alt="" />
            </div>
</noscript>
<!-- /Yandex.Metrika counter -->        <!--Including FireBase-->
    <!-- <script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-app.js"></script> -->
    <!-- <script src="https://www.gstatic.com/firebasejs/5.0.0/firebase-messaging.js"></script> -->
    <!-- <script src="/device.js"></script> -->
    <!-- <script src="/app.js"></script> -->
</body>

</html>